/* style.css */
body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.ramen-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.ramen-menu img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ramen-detail {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.ramen-detail img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

.new-ramen-form {
    border: 1px solid #eee;
    padding: 20px;
    margin-top: 20px;
}

.new-ramen-form label {
    display: block;
    margin-bottom: 5px;
}

.new-ramen-form input,
.new-ramen-form textarea {
    width: calc(100% - 12px); /* Adjust for padding and border */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.new-ramen-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}